<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="c1phs1">
            <h4 class="panel-title">{{section.title}}</h4>
        </div>
        <div id="c1pbs1" class="panel-collapse in" role="tabpanel" aria-labelledby="c1phs1">
            <div class="panel-body panel-forestry">
                {{section.text | markdownify }}
                {% if section.learnmore %}
                <br />
                <span class="text-center col-md-12" style="width: 100%">
                    <a href="{{ section.learnmore }}">{{ section.learnmoretext}}</a>
                </span>
                {%- endif %}
                {% if section.ctalink %}
                <br /><br />
                <a href="{{ section.ctalink }}" class="btn btn-custom col-md-12">{{ section.ctatext }}</a>
                {%- endif %}
            </div>
        </div>
    </div>
</div>