---
new_page_extension: md
auto_deploy: false
admin_path: 
webhook_url: 
sections:
- type: directory
  path: _events
  label: Events
  create: all
  match: "**/*"
  templates:
  - events_external_link
  - events
- type: directory
  path: _teams
  label: Tours/Projects
  create: all
  match: "**/*"
  templates:
  - teams
- type: directory
  path: _content
  label: Content
  create: all
  match: "**/*"
  templates:
upload_dir: uploads
public_path: "/uploads"
front_matter_path: ''
use_front_matter_path: false
file_template: ":year:/:month:/:day:/:filename:"
build:
  preview_command: bundle exec jekyll build --drafts --unpublished --future -d _site
  publish_command: bundle exec jekyll build -d _site
  preview_env:
  - JEKYLL_ENV=staging
  publish_env:
  - JEKYLL_ENV=production
  preview_output_directory: _site
  output_directory: _site
