<!DOCTYPE html>

<html>

<head>

    {% include base/head.html %}

</head>

<body>
    <div id="wrapper">
        {% include base/volleyball-menu.html %}

        {% include plugins/revslider.html src1="/uploads/volleyball/go.jpg" text1="Go With Volleyball" %}
        <div class="container mt30">
            <div class="row">
                <div class="col-md-4"><a href="#about" class="btn btn-custom col-md-12">About AIA Volleyball</a></div>
                <div class="col-md-4"><a href="#careers" class="btn btn-custom  col-md-12">About Staff and
                        Internships</a></div>
                <div class="col-md-4"><a href="#opportunities" class="btn btn-custom col-md-12">About Tours</a></div>
            </div>
        </div>
        <div class="row">
            <div id="About">
                <section class="section" id="About">
                    <header class="section-header container text-center">
                        <h2 class="section-title first-color" data-title="About">About</h2>
                    </header>
                </section>
            </div>
        </div>
        <div class="max-width">
            <div class="container">
                    <div class="row">
                {{ content }}
                        </div>
            </div>
        </div>
        {% include plugins/image-callout.html image="/uploads/volleyball/callout.jpg" text="Looking for a Challenge?"
        byLine="Check out our tours below." %}

        <div class="row">
            <div id="careers">
                <section class="section" id="careers">
                    <header class="section-header container text-center">
                        <h2 class="section-title first-color" data-title="Opportunities">Career Opportunities</h2>
                        <h6>For more information about any of these opportunities, please fill out our <a
                                href="https://docs.google.com/forms/d/e/1FAIpQLSf9CpmElnyDOlKG7lwJ3tG2_fI9YaaqkLKyCw2FlmQoxOZGng/viewform?usp=sf_link">short
                                interest survey</a>.</h6>
                    </header>
                </section>
            </div>
        </div>

        <div class="max-width">
            <div class="container mt20">
                {% assign sorted = site.teams | where: "sport","volleyball-career" | sort: "order" %}
                {% for post in sorted %}
                <div class=" col-md-6">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="c1ph{{forloop.index}}">
                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion"
                                        href="#c1pb{{forloop.index}}" aria-expanded="false"
                                        aria-controls="c1pb{{forloop.index}}" class="collapsed">
                                        {{ post.title }} <span class="panel-icon"></span> </a></h4>
                            </div>
                            <div id="c1pb{{forloop.index}}" class="panel-collapse in" role="tabpanel"
                                aria-labelledby="c1ph{{forloop.index}}">
                                <div class="panel-body">
                                    <strong>Director: </strong><a href="mailto:{{ post.director_email }}"
                                        target="_blank">{{
                                        post.director }}</a> <br>
                                    <strong>Application Deadline:</strong> {{ post.dates }} <br>
                                    {%if post.location %}
                                    <strong>Location:</strong> {{ post.location }}<br />
                                    {% endif %}
                                    <strong>About: </strong> {{ post.content }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div id="opportunities">
                <section class="section" id="opportunities">
                    <header class="section-header container text-center">
                        <h2 class="section-title first-color" data-title="Opportunities">Opportunities</h2>
                        <h6>For more information about any of these opportunities, please fill out our <a
                                href="https://docs.google.com/forms/d/e/1FAIpQLSf9CpmElnyDOlKG7lwJ3tG2_fI9YaaqkLKyCw2FlmQoxOZGng/viewform?usp=sf_link">short
                                interest survey</a>.</h6>
                    </header>
                </section>
            </div>
        </div>

        <div class="max-width">
            <div class="container mt20">
                {% assign sorted = site.teams | where: "sport","volleyball" | sort: "order" %}
                {% for post in sorted %}
                <div class=" col-md-6">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="c1ph{{forloop.index}}">
                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion"
                                        href="#c1pb{{forloop.index}}" aria-expanded="false"
                                        aria-controls="c1pb{{forloop.index}}" class="collapsed">
                                        {{ post.title }} <span class="panel-icon"></span> </a></h4>
                            </div>
                            <div id="c1pb{{forloop.index}}" class="panel-collapse in" role="tabpanel"
                                aria-labelledby="c1ph{{forloop.index}}">
                                <div class="panel-body">
                                    <strong>Director: </strong><a href="mailto:{{ post.director_email }}"
                                        target="_blank">{{
                                        post.director }}</a> <br>
                                    <strong>Dates:</strong> {{ post.dates }} <br>
                                    {%if post.location %}
                                    <strong>Location:</strong> {{ post.location }}<br />
                                    {% endif %}
                                    <strong>About: </strong> {{ post.content }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div id="apply"></div>
        {% include plugins/application-callout.html
        appLink="https://my.athletesinaction.org/Applications/Tour/Volleyball/default.aspx" color="dark" %}
        <div class="max-width">
            <div class="container mt50">
                <div class="row">
                    <h2 class="title text-center mb30">Alumni <span class="light first-color">Endorsements</span></h2>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="testimonial  wow zoomIn animated animated" data-wow-delay="0.2s"
                            style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;">
                            <figure></figure>
                            <div class="testimonial-content">
                                <p>“My experience on tour with AIA impacted me in a major, positive way. I saw God
                                    unite people from various sports, nations, and cultures, despite language barriers
                                    or the fact that they are competing against each other, just to speak about
                                    Jesus....AIA has inspired me to bring the knowledge and ideals we implemented on
                                    our tour team to my team on campus. I'm going to try to teach my teammates how to
                                    play for Christ, and how to inspire others around us to do the same. ”</p>
                                <h5>Johnny Milabu (Greenville College) - <a href="#" title="FISU">FISU America Games
                                        Brazil (2018)</a></h5>
                            </div>
                            <!-- End .testimonial-content -->
                        </div>
                        <!-- End .testimonial -->
                    </div>
                    <div class="col-md-6">
                        <div class="testimonial reverse wow zoomIn animated animated"
                            style="visibility: visible; animation-name: zoomIn;">
                            <figure></figure>
                            <div class="testimonial-content">
                                <p>“What I learned on tour is that I need to lean into Jesus when I am on the court and
                                    ask that his grace, love, and strength rush to my heart when I am playing
                                    volleyball. He gets all the glory and is my Audience of 1 when I am on and off the
                                    court. Volleyball is no longer just a game, it is one of the many ways in which I
                                    can show thanks and worship my God who has so much love for me whether I am winning
                                    or losing."</p>
                                <h5>Alex Treser (Marymount U.) - <a href="#" title="FISU">FISU America Games Brazil
                                        (2018)</a></h5>
                            </div>
                            <!-- End .testimonial-content -->
                        </div>
                        <!-- End .testimonial -->
                    </div>
                    <!-- End .col-md-6 -->

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="testimonial wow zoomIn animated animated"
                            style="visibility: visible; animation-name: zoomIn;">
                            <figure></figure>
                            <div class="testimonial-content">
                                <p>“AIA is a ministry that has impacted my life in so many ways. I attended AIA
                                    meetings in college, but was never very serious about them. It wasn't until right
                                    after my collegiate career, and the beginning of my pro career, that I became
                                    passionate about learning what it looked like to invite God onto the volleyball
                                    court with me, and to glorify Him through my sport. On tour, God was a work on my
                                    heart, and I was able to learn so much from the amazing staff, our coaches, and my
                                    teammates. To be able to come alongside other Christian volleyball players,
                                    surrender control, and just play in freedom for God and God alone, was one of the
                                    best experiences of my life. Now I get to continue living out those principles
                                    alongside other pro volleyball Christians through a Bible study that the staff at
                                    AIA have been so amazing to organize. Being so far from home is extremely hard,
                                    especially not being surrounded by community. Having this small group is a
                                    highlight of my week, and a way to be encouraged and feel connected to other
                                    like-minded people playing volleyball abroad. "</p>
                                <h5>Morgan Bergren (U. of Kentucky) - <a href="#" title="Thailand">Thailand (2017), Pro
                                        Player Small Groups (2017, 2018)</a></h5>
                            </div>
                            <!-- End .testimonial-content -->
                        </div>
                        <!-- End .testimonial -->
                    </div>
                    <!-- End .col-md-6 -->

                    <div class="col-md-6">
                        <div class="testimonial reverse wow zoomIn animated animated" data-wow-delay="0.2s"
                            style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;">
                            <figure></figure>
                            <div class="testimonial-content">
                                <p>“During the first week of training camp I was looking forward to playing a lot of
                                    volleyball with talented athletes. What I didn’t realize was that I would
                                    eventually turn my focus from playing volleyball to learning how to share my faith
                                    with others. I didn’t know how to share my faith before my AIA trip, but I was
                                    taught how to organize and present my testimony. I was excited about this because
                                    it gave me the confidence to talk to anyone about my faith. <br>I loved the fact
                                    that we trained in our sport, but more importantly in our faith. Making athletics
                                    part of my spiritual life was a concept that really altered my faith. I learned
                                    that I could use my love of playing volleyball to show others my love for God and
                                    everything He has done for me. It was truly an amazing experience – being able to
                                    pray with someone who I’d never met before and to grow in my relationship with
                                    God.”</p>
                                <h5>Jimmy Lundgren (Azusa Pacific U.) - <a href="#" title="Russia and Brazil"> Russia
                                        (2009), Brazil (2010)</a></h5>
                            </div>
                            <!-- End .testimonial-content -->
                        </div>
                        <!-- End .testimonial -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="testimonial wow zoomIn animated animated"
                            style="visibility: visible; animation-name: zoomIn;">
                            <figure></figure>
                            <div class="testimonial-content">
                                <p>“The tools I've acquired with Athletes in Action still bleed into my life on a daily
                                    basis. AIA has so much to do with winning hearts for Jesus. God is so much bigger
                                    than our fears, weaknesses and less-than-ideal situations. There are lives at
                                    stake, and eternity is not a game. We need to GO and MAKE disciples with the same
                                    sense of urgency that we have in earning points in a match.”</p>
                                <h5>Sarah Amidon (Indiana State U.) - <a href="#"
                                        title="Caribbean, East Africa, Moldova">Moldova
                                        (2005), Caribbean (2009), East Africa (2010).</a></h5>
                            </div>
                            <!-- End .testimonial-content -->
                        </div>
                        <!-- End .testimonial -->
                    </div>
                    <!-- End .col-md-6 -->
                    <div class="col-md-6">
                        <div class="testimonial reverse wow zoomIn animated animated" data-wow-delay="0.2s"
                            style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;">
                            <figure></figure>
                            <div class="testimonial-content">
                                <p>“When I was in Israel, this is what Jesus taught me: every pass, every set, every
                                    move is centered around worshiping Jesus. I got to play volleyball with my best
                                    friend, Jesus.</p>
                                <h5>Sara Ramirez (ASU) - <a href="#" title="Israel and Colombia"> Israel (2008),
                                        Columbia (2010)</a></h5>
                            </div>
                            <!-- End .testimonial-content -->
                        </div>
                        <!-- End .testimonial -->
                    </div>
                    <!-- End .col-md-6 -->
                </div>

            </div>
        </div>
    </div>
    <div class="max-width">
        <div class="container mt50">
            <div class="row" id="staff">
                <h2 class="title text-center mb30">Meet the <span class="light first-color">Team</span></h2>
                <p>Interested in joining our team? We have <a
                        href="https://goaia.org/careers/aiainstitute">internship</a>
                    and <a href="https://goaia.org/careers/full-time">full time</a> positions open! Click here to fill
                    out an <a
                        href="https://docs.google.com/forms/d/e/1FAIpQLSf9CpmElnyDOlKG7lwJ3tG2_fI9YaaqkLKyCw2FlmQoxOZGng/viewform?usp=sf_link">interest
                        survey</a> and one of us will follow up with you!</p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="c1phs1">
                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion"
                                        href="#c1pbs1" aria-expanded="false" aria-controls="c1pbs1"
                                        class="collapsed">Amber Moore,
                                        Director <span class="panel-icon"></span> </a></h4>
                            </div>
                            <div id="c1pbs1" class="panel-collapse in" role="tabpanel" aria-labelledby="c1phs1">
                                <div class="panel-body">
                                    <strong>Email:</strong><a
                                        href="mailto:amber.moore@athletesinaction.org">amber.moore@athletesinaction.org</a>
                                    <br>
                                    <strong>Phone:</strong>(713) 628-8645 <br><br />
                                    <p><img class="img-responsive col-sm-8" src="/uploads/volleyball/1.png" />Amber has
                                        been on staff with Athletes in Action since 2015. Originally from Houston, she
                                        played middle for Texas State University. Amber was involved in FCA and after
                                        catching the vision for how sports and ministry can be combined to make a huge
                                        impact for Jesus, she decided to join AIA in the mission of using the language
                                        of the sport to reach every with the Gospel.</p>
                                    <p>Amber oversees all of AIA Volleyball: our staff and our ministry efforts in
                                        domestic and international beach, indoor and pro. During her staff life, she
                                        has led missional teams to Thailand, Central Asia and Brazil. If you asked her
                                        where within this department that she is most passionate about, she would tell
                                        you, without a doubt, beach volleyball! She has a heart to dive into the beach
                                        world and to provide opportunities for beach players to grow and make an
                                        impact.</p>
                                    <p>Amber is married to Leif, who is also on staff working on local college campuses
                                        in Ohio. They have one beautiful daughter, named Abra!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="c1phs2">
                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion"
                                        href="#c1pbs1" aria-expanded="false" aria-controls="c1pbs2"
                                        class="collapsed">Ashley Warner,
                                        Pro Ministry and Marketing <span class="panel-icon"></span> </a></h4>
                            </div>
                            <div id="c1pbs2" class="panel-collapse in" role="tabpanel" aria-labelledby="c1phs2">
                                <div class="panel-body">
                                    <strong>Email:</strong><a
                                        href="mailto:ashley.warner@athletesinaction.org">ashley.warner@athletesinaction.org</a>
                                    <br>
                                    <strong>Phone:</strong>(248) 721-2024 <br /><br />
                                    <p>
                                        <p><img class="img-responsive col-sm-8"
                                                src="/uploads/volleyball/42553491_10213504202419958_4765493440156794880_o.jpeg" />Ashley
                                            has been on staff with Athletes in Action since 2012. Originally from
                                            Michigan, she played middle for Concordia University Ann Arbor. Ashley was
                                            heavily involved in the AIA on her campus after she said yes to Jesus
                                            during her second year. When graduating she desired to be a part of making
                                            an eternal impact on other campuses around the world in the same way God
                                            had impacted her through AIA. She interned in Mexico for two years before
                                            joining full time staff with AIA in our volleyball department.</p>
                                        <p>Ashley coordinates our ministry to professional volleyball players around
                                            the world and leads our departmental marketing efforts. During her time
                                            with us, Ashley has led missional teams to Thailand, Central Asia and
                                            Brazil. If you asked her where she is most passionate about within AIA
                                            Volleyball, she would tell you our Pro Ministry! She sees our pro players
                                            as missionaries that God has strategically placed, and she loves to be a
                                            part of facilitating a community, training them in ministry skills and
                                            encouraging them as they are abroad!</p>
                                        <p>Ashley is married to Tyler, who is also on staff in the football department.
                                            They have one son, named Ben!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include plugins/volleyball-social.html %}
    {% include plugins/teamblogs.html %}
    {% include base/footer.html %}
    <script src="/js/jquery.themepunch.tools.min.js" type="text/javascript"></script>
    <script src="/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        (function () {
            "use strict";
            // Slider Revolution
            $('#revslider').revolution({
                delay: 8000,
                startwidth: 1170,
                startheight: 500,
                fullWidth: "on",
                fullScreen: "on",

                soloArrowLeftHOffset: 20,
                soloArrowRightHOffset: 20,
                dottedOverlay: "threexthree",
                fullScreenOffsetContainer: "#header, #gheader"
            });
        }());
    </script>
    </div>
</body>

</html>